<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile/recipes"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{recipe.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        {{recipe.category}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{recipe.ingredients}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{recipe.instructions}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Created: {{recipe.createdAt.toDateString()}}</ion-col>
      <ion-col>Updated: {{recipe.updatedAt.toDateString()}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
